
.profile-image {
    margin: auto;
    width: 40em;
    height: 40em;
    border-radius: 500px;
    background-image: url(../assets/img/mifoto.jpg);
    background-repeat: no-repeat;
    background-position: 30% 0%;
}
    
.my-name {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition: all ease 0.3s;
}

    
.ux-designer {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    z-index: 5;
    transition: all ease 0.3s;
}

.profile-social {
        position: absolute;
        margin: 2em 17.5em;
}

.profile-social ul li {
    text-align: center;
    display: inline-block;
    margin: 0;
}
   
.profile-social ul li a {
    width: 80px;
    height: 80px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    /* line-height: 0px; */
    font-size: 50px;
    background: #e53f51;
    color: white;
}

    
.profile-social ul li a:hover {
        background: #303030;
}

@media (min-width: 992px) {
    .profile-image {
        margin: auto;
        width: 17.2em;
        height: 17em;
        border-radius: 50px;
        background-image: url(../assets/img/mifoto.png);
    }
    
    .my-name {
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 800;
        color: white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        z-index: 5;
        transition: all ease 0.3s;
    
    }
    
    .ux-designer {
        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        color: white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
        z-index: 5;
        transition: all ease 0.3s;
    }
    
    .profile-social {
        position: absolute;
        margin: -10em 26em;;
    }
    .profile-social ul li {
        text-align: center;
        display: inline-block;
        margin: 0;
    }
    .profile-social ul li a {
        width: 40px;
        height: 40px;
        display: block;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        background: #e53f51;;
        color: white;
    }
    
    .profile-social ul li a:hover {
        background: #303030;
    }
}