*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    background-image: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
/* Skills */

/* nav */
nav a {
    color: #e53f51;
}

nav {
    margin-top: 4em;
    margin-left: -3em;
    color: gray;
    background: transparent;
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: none;
}


nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 6em;
    height: 3em;
    line-height: 8em;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* logo */

.tamaño {
    width: 50px;
    height: 50px;
}
/* side-nav */

.side-nav {
    background-color: rgba(35, 35, 35, 0.774);
    text-transform: uppercase;
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}


.side-nav li > a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 3em;
    font-weight: 500;
    height: 3em;
    line-height: 48px;
    padding: 6 30px;
}

.aboutme-li {
    margin-top: 30em; 
}

/* name */

.raleway {
    font-family: 'Raleway', sans-serif;
}

/* about me */

.text-about-me {
    position: absolute;
    margin-top: 5em;
    text-align: justify;
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 2.8em;
    color: rgb(190, 190, 190);
    background: rgba(48, 48, 48, 0.699);
}
/* Portfolio */

.title-card {
    background-color: #fff;
    text-transform: uppercase;
    padding: 1em;
    color: rgb(35,35,35);
    font-size: 4em;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #e53f51 ;
}

#portfolio {
    position: absolute;
    margin-top: 70em;
    width: 100% !important;
}

.btn:hover, .btn-large:hover {
    background-color: #000000;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    padding: 1em 1.5em 1.7em !important;
    font-size: 3rem;
    outline: 0;
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 3em;
    margin-top: 1em;
}

.black-text {
    color: #000000 !important;
    margin: 1em 2em;
    font-size: 3em;
}

h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 110%;
    margin: 0rem 0 1.424rem 0;
}

.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 16px !important;
    width: 16px !important;
    margin: 12px 10px !important ;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.carousel.carousel-slider .carousel-item h2 {
    color: #333333;
}
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 520px !important;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.carousel .indicators .indicator-item.active {
    background-color: #e53f51;
}

.carousel .indicators .indicator-item {
    background-color: rgba(0, 0, 0, 0.5);
}



.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #e53f51;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
}
.ux-card {
    background-color: #e53f51;
    text-transform: uppercase;
    padding: 1em;
    color: white;
    font-size: 3em;
}

/* Proyectos */
#proyects {
    width: 100% !important;
    position: absolute;
    margin-top: 848em;
    background-color: rgb(48, 48, 48);
    padding-bottom: 2em;
}

.psico {
    width: 100% !important;
    height: 30vh;
    background-image: url(https://scontent.flim4-1.fna.fbcdn.net/v/t1.0-9/21433163_1942465125968008_3517104785375372073_n.jpg?_nc_eui2=v1%3AAeGl0IDcLjHsrNvuvqlopMzJdrqh0mzyv_OPQiZYM5cv4mbu7iA1r_geVYb_o8jPhzCO1icvkT8M-rKpASkcCutZB9gQvapWHQuWxILSaUJ_Wci7DnDrac7ioEQ46K9ADYg&oh=5d85e5b1e501b29c6121cb5967913f31&oe=5B06AFED);
}

.description-psico {
    font-size: 2.5em;
    color:white;
    padding: 1em;
}

.margin-button {
    margin: 1.9em;
}

#protect-one {
    margin-top: 1em !important;
}


/* skills */
#skills {
    width: 100% !important;
    position: absolute;
    margin-top: 942em;
    height: 40em;
}

.all-skills {
    background-color: white;

    color: gray;
}

/* .btn, .btn-large {
    line-height: 2;
    width: 8em;
    font-size: 2.5em;
    text-decoration: none;
    color: #f44336;
    background-color: #f44336;
    text-align: center;
    letter-spacing: .10px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    height: 2em;
    margin: 1em;
} */
.to-button {
    margin-top: 2em;
}

/* Contactame */

#contactme {
    width: 100% !important;
    position: absolute;
    margin-top: 1145em;
}
.contactme {
  text-transform: uppercase;
  padding: 1em;
  color: rgb(0, 0, 0);
  font-size: 4em;
}

.contact {
  position: absolute;
  width: 100% !important;
  margin-top: 1em;
}

.gmail-letras {
    font-size: 2em;
    padding: 1em;
    margin-top: 6em;
    color: black;
}


/* CV */

#cv {
    background-color: #e53f51;
    position: absolute;
    width: 100% !important;
    height: 25vh !important;
    margin-top: 1115em;
}

#a-cv {
  margin-top: 3em;
  font-size: 4em;
  height: 2em;
  padding: 0.5em;
  color: white;
  background-color: #e53f51;
}
/* footer */

#footer {
    font-size: 3em;
    color: white;
    background-color: #333333;
    position: absolute;
    width: 100% !important;
    height: 4vh !important;
    margin-top: 395em;
}
/* particles */

/* media query */

#proyects-portfolio {
    background-color: #fff;
    text-transform: lowercase;
    padding: 1em;
    color: rgb(35,35,35);
    font-size: 4em;
}

@media (min-width: 992px) {
.gmail-letras {
        font-size: 2em;
        padding: 1em;
        margin-top: 10em;
        color:white;
}

.name-proyect {
    margin-top: 2em !important;
}

.carousel.carousel-slider .carousel-item h2 {
        font-size: 1.8em;
        color: #333333;
        margin-top: 1em;
}
    
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 0px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    padding: 1em !important;
    font-size: 1.2rem;
    outline: 0;
    margin-top: 0.5em;
}

    .black-text {
        font-size: 1em;
        color: #000000 !important;
        margin: 1em 6em;
    }

    .carousel.carousel-slider .carousel-item h2 {
        color: #333333;
    }
    .carousel {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 520px !important;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
    .gmail-letras {
        font-size: 1.6em;
    }

    #contactme {
        width: 100% !important;
        position: absolute;
        margin-top: 208em;
    }
    nav {
        margin-top: 2em;
        margin-left: 1em;
        color: gray;
        background: transparent;
        width: 100%;
        height: 56px;
        line-height: 50px;
        border: none;
    } 
    .pink-hover:hover {
        color: #e53f51;
    }
    #proyects {
        width: 100% !important;
        position: absolute;
        padding-bottom: 2em;
        position: absolute;
        margin-top: 56em;
    } 

    .text-about-me {
        position: absolute;
        margin-top: 20em;
        text-align: justify;
        display: block;
        width: 100%;
        padding: 1em;
        font-size: 1.3em;
        color: rgb(190, 190, 190);
        background: rgba(48, 48, 48, 0.699);
    }
    .title-card {
        background-color: #fff;
        text-transform: uppercase;
        padding: 1em;
        color: rgb(35,35,35);
        font-size: 1.6em;
    }	
    
    .description-psico {
        font-size: 1.4em;
    }

    .ux-card {
        font-size: 1.6em;
    }

    .btn:hover, .btn-large:hover {
            background-color: #3b3b3b;
    }
        
    .texto {
        display: inline-block;
    }


#cv {
    position: absolute;
    width: 100% !important;
    margin-top: 178em;
    background-color: #e53f51;
    height: 70vh!important;
    padding: 3.3em;
}

    /* Portfolio */
    #portfolio {
        position: absolute;
        margin-top: 13em;
        /* background-color: white; */
        width: 100% !important;
        height: 210em;
    }
    
    hr {
    width: 100%;
    height: 5px;
    background-color: #e53f51 ;
    }

#skills {
    margin-top: 105em;
}

#footer {
    margin-top: 240em;
    font-size: 1em;

}
.text-about-me {
    position: absolute;
    margin-top: 1em;
    text-align: justify;
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 1.3em;
    color: rgb(190, 190, 190);
    background: rgba(48, 48, 48, 0.699);
}
.title-card {
    background-color: #fff;
    text-transform: uppercase;
    padding: 1em;
    color: rgb(35,35,35);
    font-size: 2em;
}

.show-on-medium-and-up {
    display: inline-block !important;
}
}