*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    background-image: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
/* Skills */

/* nav */
nav a {
    color: #e53f51;
}

nav {
    margin-top: 4em;
    margin-left: -3em;
    color: gray;
    background: transparent;
    width: 100%;
    height: 56px;
    line-height: 56px;
    border: none;
}


nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 6em;
    height: 3em;
    line-height: 8em;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* logo */

.tamaño {
    width: 50px;
    height: 50px;
}
/* side-nav */

.side-nav {
    background-color: rgba(35, 35, 35, 0.774);
    text-transform: uppercase;
    position: fixed;
    width: 50%;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}


.side-nav li > a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 3em;
    font-weight: 500;
    height: 3em;
    line-height: 48px;
    padding: 6 30px;
}

.aboutme-li {
    margin-top: 30em; 
}

/* name */

.raleway {
    font-family: 'Raleway', sans-serif;
}

/* about me */

.text-about-me {
    position: absolute;
    margin-top: 22em;
    text-align: justify;
    display: block;
    width: 100%;
    padding: 1em;
    font-size: 3em;
    color: rgb(190, 190, 190);
    background: rgba(48, 48, 48, 0.699);
}

/* Portfolio */

#portfolio {
    position: absolute;
    margin-top: 130em;
}

.title-card {
    background-color: #fff;
    text-transform: uppercase;
    padding: 1em;
    color: rgb(35,35,35);
    font-size: 4em;
}

hr {
    width: 100%;
    height: 5px;
    background-color: #e53f51 ;
}

#portfolio {
    width: 100% !important;
}
.work-container {
    width: 100% !important;
    height: 30vh;
    /* background-image: url(../assets/img/lyft.JPG); */
}

.wanderbus {
  background-image: url(../assets/img/proyects/Wanderbus.JPG);
  background-position: center top;
  background-color:  rgba(35, 35, 35, 0.733);
}

.traveller {
  background-image: url(../assets/img/proyects/traveller2.png);
  background-repeat: no-repeat;
  background-position: 50% 100%; 
  background-color:  rgba(35, 35, 35, 0.733);
}

.lyft {
  background-image: url(../assets/img/proyects/lyft.png);
  background-position: 50% 50%;
  background-color:  rgba(35, 35, 35, 0.733);
}

.moviesups {
  background-image: url(../assets/img/proyects/moviesups.JPG);
  background-position: 50% 50%;
  background-color:  rgba(35, 35, 35, 0.733);
}

.botones {
    display: block;
    font-size: 3em;
    height: 2em;
    padding: 0.5em;
    color: #e53f51;
    background-color: rgb(138, 44, 44);
}


.ux-card {
    background-color: #e53f51;
    text-transform: uppercase;
    padding: 1em;
    color: white;
    font-size: 3em;
}


/* Hover portafolio */


/* Proyectos */

#proyects {
    width: 100% !important;
    position: absolute;
    margin-top: 312em;
}

.psico {
    width: 100% !important;
    height: 30vh;
    background-image: url(https://scontent.flim4-1.fna.fbcdn.net/v/t1.0-9/21433163_1942465125968008_3517104785375372073_n.jpg?_nc_eui2=v1%3AAeGl0IDcLjHsrNvuvqlopMzJdrqh0mzyv_OPQiZYM5cv4mbu7iA1r_geVYb_o8jPhzCO1icvkT8M-rKpASkcCutZB9gQvapWHQuWxILSaUJ_Wci7DnDrac7ioEQ46K9ADYg&oh=5d85e5b1e501b29c6121cb5967913f31&oe=5B06AFED);
}

.description-psico {
    font-size: 2.5em;
    background-color: white;
    color: black;
    padding: 1em;

}



/* skills */
#skills {
    width: 100% !important;
    position: absolute;
    margin-top: 402em;
    height: 40em;
}

.all-skills {
    background-color: white;

    color: gray;
}

.btn, .btn-large {
    line-height: 2;
    width: 8em;
    font-size: 2.5em;
    text-decoration: none;
    color: #f44336;
    background-color: #f44336;
    text-align: center;
    letter-spacing: .10px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    height: 2em;
    margin: 1em;
}
.to-button {
    margin-top: 2em;
}

/* Contactame */

#contactme {
    width: 100% !important;
    position: absolute;
    margin-top: 586em;
}

.contactme {
  text-transform: uppercase;
  padding: 1em;
  color: rgb(0, 0, 0);
  font-size: 4em;
}

.contact {
  position: absolute;
  width: 100% !important;
  margin-top: 1em;
}

.gmail-letras {
    font-size: 2em;
    padding: 1em;
    margin-top: 10em;
}

/* CV */

#cv {
  position: absolute;
  width: 100% !important;
  height: 20vh !important;
  margin-top: 570em;
}

#a-cv {
  margin-top: 3em;
  font-size: 4em;
  height: 2em;
  padding: 0.5em;
  color: white;
  background-color: #e53f51;
}
/* footer */

#footer {
  font-size: 3em;
  color: white;
  background-color: #333333;
  position: absolute;
  width: 100% !important;
  height: 4vh !important;
  margin-top: 210em;
}
/* particles */


/* media query */

@media (min-width: 992px) {
    nav {
        margin-top: 2em;
        margin-left: 1em;
        color: gray;
        background: transparent;
        width: 100%;
        height: 56px;
        line-height: 50px;
        border: none;
    } 
    .pink-hover:hover {
        color: #e53f51;
    }

    .text-about-me {
        position: absolute;
        margin-top: 20em;
        text-align: justify;
        display: block;
        width: 100%;
        padding: 1em;
        font-size: 1.3em;
        color: rgb(190, 190, 190);
        background: rgba(48, 48, 48, 0.699);
    }
    .title-card {
        background-color: #fff;
        text-transform: uppercase;
        padding: 1em;
        color: rgb(35,35,35);
        font-size: 1.6em;
    }	
    

    /* proyectos */

    .btn, .btn-large {
        display: inline-block;
        width: 10em;
        font-size: 1.5em;
        color: #fff;
        background-color: #f44336;
        padding-bottom: 1em;

        }

        .btn-one, .btn-large {
            display: inline-block;
            width: 10em;
            font-size: 1.5em;
            color: #f44336;
            border: #f44336;
            background-color: rgba(0, 0, 0, 0.12);
        }

    .btn:hover, .btn-large:hover {
            background-color: #3b3b3b;
    }
        
    .texto {
        display: inline-block;
    }

    /* Portfolio */
    #portfolio {
        position: absolute;
        margin-top: 37em;
        background-color: white;
        width: 100% !important;
        height: 210em;
    }
    
    hr {
    width: 100%;
    height: 5px;
    background-color: #e53f51 ;
    }

#proyects {
    margin-top:  246em;
}

.ux-card {
    font-size: 1.5em;
}

.psico {
    width: 50% !important;
    height: 75vh;
    display: inline-block;
}

.work {
    margin-top: 8em;
}

#skills {
    margin-top: 310em;
}
}
  @media (min-width: 1200px) {
    .text-about-me {
        position: absolute;
        margin-top: 20em;
        text-align: justify;
        display: block;
        width: 100%;
        padding: 1em;
        font-size: 1.3em;
        color: rgb(190, 190, 190);
        background: rgba(48, 48, 48, 0.699);
    }
    .title-card {
        background-color: #fff;
        text-transform: uppercase;
        padding: 1em;
        color: rgb(35,35,35);
        font-size: 2em;
    }
    /* #portfolio {
        position: absolute;
        margin-top: 36em;
    }
    .work-container {
        /* width: 30% !important; */
        height: 50vh;
        display: inline-block !important;
        /* background-image: url(../assets/img/lyft.JPG); */
    }
    .show-on-medium-and-up {
        display: inline-block !important;
    }	 */
}
